:root{
    --colorPredominante:#FE5D26;
    --colorFondo: #fff9f9;
    --colorPredominanteClaro: #f7a990;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: var(--colorFondo);
}
h1{
    font-family: Afacad;
    font-size: 40px;
    color: var(--colorPredominante);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    &:hover{
        cursor: default;
    }
}
.parteDelMedio{
    /* border: solid blue 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contLista{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: solid red 1px; */
    align-self: center;
    width: 100vh;
    height: 50vh;
}
.contListaUrls{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    /* border: black solid 1px; */
}
.agregarUrl{
    height: 30%;
    width: 100%;
    margin: none;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    row-gap: 10px;
    justify-content: center;
    /* border: solid red 1px; */
}
#listaDeUrls{
    padding-left: 5px;
    padding-right: 5px;
    /* padding: 10px; */
    /* padding-top: 5px; */
    display: flex;
    flex-direction: column;
    align-self: center;
    overflow-y: auto;
    margin: 0px;
    height:95%;
    background-color: var(--colorFondo);
    width: 80%;
    list-style: none;
    /* -webkit-box-shadow: 0px 0px 22px -4px rgba(28,28,28,0.82);
    -moz-box-shadow: 0px 0px 22px -4px rgba(28,28,28,0.82);
    box-shadow: 0px 0px 22px -4px rgba(28,28,28,0.82); */
    border-top: solid 3px var(--colorPredominante);
    border-bottom: solid 3px var(--colorPredominante);
    /* border: solid 2px #FE5D26; */
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-thumb{
        
        background: var(--colorPredominante);
    }
}
#urlIngresada{
    color: var(--colorPredominante);
    width: 60%;
    height: 35%;
    font-size: 20px;
    background: transparent;
    border: solid 1px var(--colorPredominante);
    font-family: Afacad;
    padding-left: 8px;
    padding-right: 8px;
    &:hover{
        border: none;
        border-bottom: 3px solid var(--colorPredominante);
        transition-duration: 0.1s;
        background-color: var(--colorPredominanteClaro);
        color: var(--colorFondo);
        &::placeholder{
        color: var(--colorFondo);
        }   
    }
}

#urlIngresada:focus{
    outline: none;
    border: none;
    border-bottom: 3px solid var(--colorPredominante);
    transition-duration: 0.1s;
    background-color: var(--colorPredominanteClaro);
    color: var(--colorFondo);
    &::placeholder{
        color: var(--colorFondo);
    }
}
#urlIngresada::placeholder{
    color: var(--colorPredominante);
    font-size: 20px;
    font-family: Afacad;

}
#btnAgregar{
    height: 40%;
    width: 20%;
    border: solid 1px var(--colorPredominante);
    background: transparent;
    color: var(--colorPredominante);
    font-family: Afacad;
    font-size: 20px;
    &:hover{
        cursor: pointer;
        background-color: var(--colorPredominanteClaro);
        color: var(--colorFondo);
        border: none;
        transition-duration: 0.1s;
        border-bottom: var(--colorPredominante) solid 3px;
    }
}
.itemListaUrls{
    margin: 0px;
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    /* border: solid black 1px; */
    color: var(--colorPredominante);
    font-family: Afacad;
    font-size: 23px;
    &:hover{
        cursor: default;
    }
}
.botonItem{
    display: flex;
    border: none;
    align-self: center;
    background-color: transparent;
    background-image: url(img/tacho.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    &:hover{
        cursor: pointer;
        scale: 1.09;
        transition-duration: 0.1s;
    }
}
.shortsYoutube{
    display: flex;
    column-gap: 5px;
    /* border: solid 1px blue; */
    justify-content: center;
    align-items: center;
}
.textoShorts{
    color: var(--colorPredominante);
    text-align: center;
    font-size: 20px;
    font-family: Afacad;
    /* border: solid 1px red; */
    &:hover{
        cursor: default;
    }
}
.botonDesactivar{
    height: 100%;
    display: flex;
    /* border: solid 1px green; */
}
.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #d2cccc;
    border-radius: 20px;    
    cursor: pointer;
}
.switch::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: rgb(170, 169, 169);
    left: 3px;
    top: 2px;
    transition: all 0.2s;
}
input[type='checkbox']:checked + .switch::after{
    transform: translateX(19px);
    background-color: var(--colorPredominante);
}
input[type='checkbox']:checked + .switch{
    background-color: var(--colorPredominanteClaro);
}
.offScreen{
    position: absolute;
    left: -99999999px;
}